@import "../reindeer/styles.css";

.v-app, .editHsplitter .v-splitpanel-hsplitter div, .editHsplitter .v-splitpanel-hsplitter, .sidebar {
    background:#e7e9e9 
}

.vsm, .vsm select, .vsm button  {
	font-size: 11px;
	line-height: 14px;
	color: #000;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.vsm .headerGrid {
	background: transparent url(images/top-bg.png) repeat-x;
        
        
}
.vsm .loginButton {
    top: 4px;
    right:4px;
}
.vsm .appIcon {
	border: none;
        height: 80px;

	background: transparent url(images/appicon.png) no-repeat 5px 5px;
        padding-left: 81px;
        padding-top: 40px;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 9px;
        text-align: left;
}
.vsm .appIconr {
	border: none;
        height: 80px;

	background: transparent url(images/appiconr.png) no-repeat 5px 0px;
        padding-left: 181px;
        padding-top: 40px;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 9px;
        text-align: left;

}
.vsm .appIconv {
	border: none;
        height: 80px;

	background: transparent url(images/appiconv.png) no-repeat 5px 0px;
        padding-left: 181px;
        padding-top: 40px;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 9px;
        text-align: left;

}
.vsm .editWin, .v-window-vsm .v-window-contents{

        background:#f7f9f9
}

.vsm .Tablename {
    top: 3px;
    left:3px;    
    margin: 3px;
    color: #404040;
}

.vsm .v-splitpanel-horizontal .v-splitpanel-hsplitter{
	width: 1px;
	background: #808080;
}

.vsm .v-splitpanel-horizontal .v-splitpanel-hsplitter div {
	width: 1px;
	border: none;
	background: transparent;
}
.vsm .editHsplitter .v-splitpanel-hsplitter{
	width: 5px;
        background:#e7e9e9 
	
}

.vsm .editHsplitter .v-splitpanel-hsplitter div {
	width: 5px;
	border: none;
	background: transparent;
}
.vsm .v-splitpanel-vertical .v-splitpanel-vsplitter {
	height: 1px;
	background: #808080;
}

.vsm .v-splitpanel-vertical .v-splitpanel-vsplitter div {
	height: 1px;
	border: none;
	background: transparent;
}

.vsm .editReadonly{

}
.vsm .margin5px{
    margin: 5px;
}
.vsm .editTools{    
    height: 36px;
    background: transparent;

}
.vsm .test{
    border: solid red;
}

.vsm .lockClosed{
    border: none;
    background: transparent url(images/lock-closed.png) no-repeat 1px 1px;
    padding: 2px 0 2px 40px;
    height: 36px;
}
.vsm .lockOpen{
    border: none;
    background: transparent url(images/lock-open.png) no-repeat 1px 1px;
    padding: 2px 0 2px 40px;
    height: 36px;
}

.vsm .sidebar .v-label {
	padding: 7px 0 3px 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #505d6d;
	text-shadow: #fff 0 1px 0;
}

.vsm .sidebar .v-nativebutton {
	text-align: left;
	border: none;
	background: transparent;
	line-height: 15px;
	padding: 2px 0;
}
.vsm .sidebar .v-nativebutton:hover {
	background: transparent url(images/selected-bg.png) repeat-x;
}
.vsm .sidebar .v-nativebutton:active {
	background: transparent url(images/selected-bga.png) repeat-x;

}


.vsm .sidebar .v-nativebutton span {
	padding-left: 25px;
}

.vsm .sidebar .selected {
	background: transparent url(images/selected-bga.png) repeat-x;
	color: #fff;
	font-weight: bold;
	text-shadow: #384359 0 1px 0;
	line-height: 15px;
	padding: 2px 0;
}
/*
.vsm .sidebar .selected span {
	display: block;
	background: transparent url(images/icon-music.png) no-repeat 25px 1px;
	padding: 2px 0 2px 45px;
}
*/
.vsm .sidebar .v-caption {
	background: transparent url(images/table-header-bg.png) repeat-x;
	padding: 1px 0;
	font-weight: bold;
	text-shadow: #eee 0 1px 0;
	text-align: center;
	color: #202020;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #555;
}

.vsm .sidebar .v-captiontext {
	float: none;
}

.vsm .v-table-header-wrap {
	height: 16px;
	border: none;
	border-bottom: 1px solid #555;
	background: transparent url(images/table-header-bg.png) repeat-x;
	position: relative;
}

.vsm .v-table-sort-indicator {
	width: 0px;
	height: 16px;
}

.vsm .v-table-caption-container {
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-shadow: #fff 0 1px 0;
	padding-top: 1px;
}

.vsm .v-table-body {
	border: none;
}

.vsm .v-table-row-odd {
	background: #f1f5fa;
}

.vsm .v-table-row:hover {
	background: #fff;
}

.vsm .v-table-row-odd:hover {
	background: #f1f5fa;
}

.vsm .v-table .v-selected {
	background: #3d80df;
        
}

.vsm .v-table-cell-content {
	line-height: normal;
}

.vsm .v-table select {
	padding: 0 2px;
}

.vsm .v-table-cell-content-edit {
    color: red;
    background-image: url("images/web_edit.png");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 10px;
}


.vsm .v-table-cell-content-delete {
    color: green;
    background-image: url("images/web_delete.png");
    background-repeat: no-repeat;
    background-position: center;    
}
.vsm .v-table-cell-content-edit {
    color: red;
    background-image: url("images/web_edit.png");
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 10px;
}
.vsm .v-table-cell-content-paused {
    color: green;
    background-image: url("images/control_play.png");
    background-repeat: no-repeat;
    background-position: center;
}
.vsm .v-table-cell-content-running {
    color: green;
    background-image: url("images/control_pause.png");
    background-repeat: no-repeat;
    background-position: center;
}
.vsm .v-table-cell-content-zoom {
    color: green;
    background-image: url("images/zoom.png");
    background-repeat: no-repeat;
    background-position: center;
}


.vsm .v-table-cell-content-ok {
    color: green;
    background-image: url("images/web_check.png");
    background-repeat: no-repeat;
    background-position: center;
}
.vsm .v-table-cell-content-userInteraction {
    color: black;
    background-color: orange;
}

.v-table-header-wrap, .white .v-table-header-wrap, .v-table-footer-wrap, .white .v-table-footer-wrap {
    text-transform: none;
}


.vsm .v-nativebutton-edit, .v-nativebutton-caption-edit  {
    
    background: transparent url(images/web_edit.png)  no-repeat right bottom;    
    text-indent: 5px;
    height: 34px;
    bottom: 0px;
    border: none;
    vertical-align:bottom;


}

.vsm .ErrMsgHandler {
}

.vsm .errorIcon {
	border: none;
        height: 80px;
        width: 80px;
	background: transparent url(images/errmok_error.png) no-repeat center center;
}
.vsm .infoIcon {
	border: none;
        height: 80px;
        width: 80px;
	background: transparent url(images/errmok_info.png) no-repeat center center;
}
.vsm .busyIcon {
	border: none;
        height: 80px;
        width: 80px;
	background: transparent url(images/busy.gif) no-repeat center center;
}

.vsm  textarea.v-textarea-ErrMsgText, .v-app textarea.v-textarea-ErrMsgText {

    
    border: none;
    background:#f7f9f9;
    height:100%;


}


.vsm .v-textfield-readonly,
.vsm .v-textarea-readonly,
.vsm .white .v-textfield-readonly,
.vsm .white .v-textarea-readonly {
	border: 1px solid #bcbdbe;
	border-top-color: #a2a3a4;
	border-bottom-color: #d2d3d4;
        filter: alpha(opacity=50);

}
/*
.vsm .v-table-cell-wrapper {

    padding-top: 2px;
}
*/

.vsm .v-table-cell-content-date  {
    
    padding-top: 4px;
    padding-bottom: 0px;
}
.vsm .v-table-cell-content-size  {
    
    padding-top: 4px;
    padding-bottom: 0px;
}
.vsm .v-table-cell-content-attribute  {

    padding-top: 4px;
    padding-bottom: 0px;
}

